.header
    position: fixed
    top: 0
    left: 0
    z-index: 2
    width: calc(100% - 2rem)
    height: 50px

    background-color: var(--header-solid, #262626) //var(--header-solid, #535353)
    color: #ffffff
    
    margin-bottom: 20px
    padding: 0 1rem

    display: flex
    flex-direction: row
    align-items: center

    svg
        height: 40px
        width: auto

.headerTray
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end

.logo
    justify-self: flex-start
    transition: transform 20s ease-in
    transform: scale(1)

    svg
        transition: filter 20s ease-in
        filter: contrast(1)

.logo:hover
    transform: scale(100)

    svg
        animation: triggered .2s steps(2) infinite
        filter: contrast(100)

.headerButton
    border-radius: 50%
    background-color: #535353
    width: 40px
    height: 40px

    display: flex
    align-items: center
    justify-content: center
    margin: 0 5px
    transition: all 250ms ease-in-out

.headerButton:hover
    filter: brightness(120%)


@keyframes triggered 
    0% 
        transform: translate(2px,1px) rotate(0deg)
    
    10% 
        transform: translate(-1px,-2px) rotate(-2deg)
    
    20% 
        transform: translate(-3px,0) rotate(3deg)
    
    30% 
        transform: translate(0,2px) rotate(0deg)
    
    40% 
        transform: translate(1px,-1px) rotate(1deg)
    
    50% 
        transform: translate(-1px,2px) rotate(-1deg)
    
    60% 
        transform: translate(-3px,1px) rotate(0deg)
    
    70% 
        transform: translate(2px,1px) rotate(-2deg)

    80% 
        transform: translate(-1px,-1px) rotate(4deg)
    
    90% 
        transform: translate(2px,2px) rotate(0deg)
    
    100% 
        transform: translate(1px,-2px) rotate(-1deg)